@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.player-ui {
  position: absolute;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background: brown;
  border-radius: 10px;
  font-weight: bold;
}

.player-top {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.player-bottom {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.hex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('/background.png') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
